<p>This application allows you to check the speed of websites. You can add a list of sites to compare who is fastest and monitor any change in ranking.
  It is using <a href="https://developers.google.com/speed/docs/insights/about">Google PageSpeed Insights</a> which is considering only network-independent
  aspects of page performance: the server configuration, the HTML structure of a page, and its use of external resources such as images, JavaScript, and CSS.
  Ratings are on a scale of 0 to 100, and any site 85+ considered as excellent. Performance optimisation can be a complicated matter and is worth reading up
  on, particularly for <a href="https://developers.google.com/speed/pagespeed/insights/">mobile devices</a>.</p>
{{outlet}}
